# virtualenvs
.venv/
**/.venv/

# python junk
__pycache__/
*.pyc

# big pipeline outputs / datasets (keep OUT of git)
raw_bids/
derivatives/
atlases/templateflow/
containers/*.sif
logs/

# secrets / local-only
code/licenses/
**/license*.txt

# python caches anywhere
**/__pycache__/
**/*.pyc
code/slurm/*.bak.*

# connectome temp/work (keep final matrices trackable)
connectomes/_tmp/
connectomes/_work/


# connectome outputs (generated; keep OUT of git by default)
connectomes/**

# allow lightweight placeholders/docs
!connectomes/.gitkeep
!connectomes/README.md
!connectomes/CC200/
!connectomes/CC200/.gitkeep

# allow curated final connectomes + meta (these are what we want in git)
!connectomes/CC200/abide1/
!connectomes/CC200/abide1/**
!connectomes/CC200/abide2/
!connectomes/CC200/abide2/**
